@import "_a/b.styl"

.header {
	color:red
	.logo{
		width:100px
	}
	.title{
		height:12px
	}
}
body {
	color:red;
	text-combine: horizontal;
	transform-origin-z: initial;
	transform:rotate(30deg);
	div{
		font-size:12px
	}
}
